#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.beer-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  text-align: center;
  transition: .3s ease-out;

  &:hover{
    filter: drop-shadow(0 0 10px #fff)
  }
}

img {
  max-width: 100px;
  max-height: 200px;
  margin-bottom: 10px;
}

input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  font-size: 16px;
  width: 40%;
}
